/* @import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"); */

header {
    min-height: 80px
}

/* aside.logged {
    padding-top:16rem
} */

input[type='checkbox']:checked + span {
    text-decoration: line-through;
    color:#b7791f;
}

.end {
    -webkit-order: 2;
    order: 2;
}

.cover {
    background-color: rgba(0, 0, 0, 0.4)
}
/* 
.content {
    width: calc(100% - 6rem)
} */

.icon {
    filter: invert(15%) sepia(4%) saturate(6174%) hue-rotate(180deg) brightness(94%) contrast(80%)
}