<div id="root">
    <header class="flex justify-between items-center shadow-lg fixed bg-white px-10 w-full z-30 h-24">
        <div class="flex items-center">
            <img width="32" height="32" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F7%2F7e%2FCircle-icons-profile.svg%2F1024px-Circle-icons-profile.svg.png&f=1&nofb=1"/>
            <span class="ml-3">profile</span>
        </div>
        <h1 class="text-3xl font-bold">notes.</h1>
        <input class="shadow appearance-none rounded-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="search" placeholder="pesquisar..."/>
    </header>
    <aside class="fixed shadow-lg h-screen bg-white flex flex-col items-center w-24 pt-32">
        
        <button v-if="editingList">
            <img class="mx-3 mt-3" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.icons8.com%2Fmetro%2F1600%2Fplus-math.png&f=1&nofb=1" height="48" width="48"/>
            <small class="mb-3">criar</small>
        </button>
        <button v-else v-on:click="newListEdit" class="focus:shadow-outline outline-none rounded">
            <img class="mx-3 mt-3" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.icons8.com%2Fmetro%2F1600%2Fplus-math.png&f=1&nofb=1" height="48" width="48"/>
            <small class="mb-3">criar</small>
        </button>

        <img class="mx-3 mt-3" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fsvg%2F20151105%2F7614462f8b.png&f=1&nofb=1" height="48" width="48"/>
        <small class="mb-3">filtrar</small>
        <img class="mx-3 mt-3" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.3ARNjM7sp4lF5A9kzmNzYwHaHm%26pid%3DApi&f=1" height="48" width="48"/>
        <small class="mb-3">ordenar</small>
    </aside>
    <div class="flex flex-wrap items-start ml-24 pt-24">
        <list
            v-for="list in lists"
            :id="list.id"
            :key="list.id"
            :name="list.title"
            :type="list.type"
            :data="list.items"
            @edit-list="editList"
        ></list>
    </div>
    <edit-list 
        v-if="editingList"
        :list-id="listId"
        @save-list="addList"
    ></edit-list>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>